.entire_landing_page {
  scroll-behavior: auto;
}
.landing_content {
  height: 70vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../resources/DNAGenetics.gif");
  background-color: rgb(79, 79, 79);
  background-blend-mode: multiply;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
}
.landing_content_block {
  width: 70%;
}
.landing_content_block h2 {
  font-size: 23px;
  color: white;
}
.landing_content_block h3 {
  font-size: 38px;
  color: white;
  display: inline-block;
  position: relative;
}

.landing_content_block p {
  font-size: 18px;
  color: white;
}
.landingpage_blogs {
  width: 75%;
  margin: 2vw auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.blogbox_container {
  width: 75vw;
  margin: 0px;
  display: flex;
  justify-content: space-between;
}
.blogbox_container_blocks {
  box-shadow: 0px 0px 10px rgba(88, 88, 88, 0.247);
  margin: 1vw;
  border-radius: 5px;
}
.blogbox_container_blocks:hover {
  box-shadow: 0px 0px 10px rgba(82, 82, 82, 0.315);
}
.landing_blog_seemore {
  border: 1px solid #29395a;
  background-color: white;
  color: #29395a;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 15px;
  margin-top: 20px;
}
.landing_blog_seemore:hover {
  color: white;
  background-image: -webkit-linear-gradient(0deg, #29395a 0%, #1f6a92 100%);
}
.company_certifications {
  width: 75%;
  margin: 2vw auto;
}
.company_certifications_images {
  margin: 0px auto;
  width: max-content;
}
.company_certifications_images img {
  width: 8vw;
  height: auto;
  margin: 1vw;
}
.company_certifications_top,
.blogs_top,
.products_top {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0px;
  width: 100%;
}
.products_top{
  margin: 40px 0px 20px 0px;
}
.company_certifications_top h4,
.blogs_top h4
,.products_top h4 {
  font-weight: 700;
  color: #29395a;
  font-size: 20px;
  background: -webkit-linear-gradient(0deg, #000000 0%, #1f6a92 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.company_certifications_line,
.blogs_line,
.products_line 
{
  height: 2px;
  width: 15vw;
  background-color: rgba(128, 128, 128, 0.366);
  margin: 0px 1vw;
}
.contact_us_banner {
  width: 100%;
  height: 300px;
  background-image: url("../resources/contactusbanner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 33%;
  background-color: rgb(89, 89, 89);
  background-blend-mode: multiply;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact_us_banner_block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact_us_banner_block h3 {
  color: white;
  text-shadow: 1px 2px 10px rgba(0, 0, 0, 0.424);
  font-size: 20px;
  font-weight: 700;
}
.contact_us_banner_block p {
  width: 80%;
  font-size: 15px;
  margin: 10px;
  color: white;
  text-align: center;
  text-shadow: 1px 2px 10px rgba(0, 0, 0, 0.424);
}
.contact_us_banner_block button {
  margin: 10px 0px;
  padding: 10px 15px;
  background-image: -webkit-linear-gradient(0deg, #29395a 0%, #1f6a92 100%);
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 500;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.424);
  transition: 0.3s all ease;
}
.contact_us_banner_block button:hover {
  background-image: -webkit-linear-gradient(0deg, #29395a 0%, #29395a 100%);
}

.blogbox_con_empty {
  width: 25vw;
  height: max-content;
  background-color: rgb(255, 255, 255);
  margin: 20px;
  padding: 5px;
  box-shadow: 0px 0px 11px rgba(155, 155, 155, 0.25);
  transition: 0.3s all ease;
  position: relative;
  background-image: linear-gradient(
    90deg,
    #f1f1f13d 0px,
    rgb(255, 255, 255) 40px,
    #f1f1f13d 80px
  );
  background-size: 300%;
  background-position: 100% 0;
  border-radius: inherit;
  animation: shimmer 2s infinite;
}
@keyframes shimmer {
  to {
    background-position: -100% 0;
  }
}
.blogbox_con {
  width: 23vw;
}
.blogbox_image {
  border-radius: 5px;
  width: 100%;
  height: 13vw;
}
.blogbox_image_empty {
  width: 100%;
  height: 200px;
  background-color: #e2e2e262;
  border-radius: 5px;
}
.blogbox_heading {
  text-decoration: none;
  color: #151e31;
}
.blogbox_heading h3 {
  font-size: 15px;
  margin: 10px 20px;
}
.content {
  font-size: 14px;
  margin: 5px 20px 15px 20px;
}
.content a {
  text-decoration: none;
  color: rgb(153, 57, 22);
}
.content_empty {
  margin: 5px 0px 0px 0px;
  height: 20px;
  background-color: #e2e2e262;
  border-radius: 5px;
}

.image_gallery{
  background-color: #0c4a7c0a;
  padding: 20px;
}
.image_gallery_curosel{
  margin: 0px 15vw;
}
.image_gallery_curosel h4{
  margin: 20px;
  text-align: center;
  font-weight: 700;
  color: #29395a;
  font-size: 20px;
  background: -webkit-linear-gradient(0deg, #000000 0%, #2e98d1 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.image_gallery_curosel p{
  text-align: center;
  width: 50%;
  margin:10px auto;
  color: grey;
}
.image_gallery_curosel img{
  height: 180px;
  width: auto;
  margin: 5px;
  border-radius: 5px;
}
.landingPage_Products{
  display: grid;
  grid-template-columns: auto auto auto;
  width: max-content;
  margin: auto;
}
.product_blocks{
  position: relative;
margin: 10px;  
width: 270px;
height: 200px;
box-shadow: 0px 0px 10px rgb(201, 201, 201);
display: flex;
flex-direction: column;
align-items: center;
border-radius:5px;
overflow: hidden;
}
.product_blocks img{
  width: auto;
  height: 210px;
}
.product_hover_div{
  width: 100%;
  height: 200px;
  background-color: rgba(36, 36, 36, 0.883);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position:absolute;
  padding: 10px 30px;
  top:250px;
  transition:0.3s all ease-in;
  opacity: 0;
}
.product_blocks:hover .product_hover_div{
 top: 0px;
 opacity: 1;
}
.product_hover_div h5{
  color: white;
  margin-top: 20%;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.6;
}
.product_hover_div button{
  width: max-content;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  margin: 10px 0px;
  background-color: #0c6c84;
  color: white;
}
@media screen and (max-width: 1200px) {
  .blogbox_container {
    margin: 0px;
    width: 80vw;
    justify-content: space-between;
  }
  .blogbox_con_empty {
    width: 30%;
    margin: 20px 0px;
  }
  .blogbox_image_empty {
    height: 150px;
  }
  .blogbox_con {
    width: 23vw;
  }
  .landing_blog_seemore {
    font-size: 14px;
  }
  .blogbox_image {
    height: 16vw;
  }
  .image_gallery{
    padding: 20px;
  }
  .image_gallery_curosel{
    margin: 0px 10vw;
  }
  .image_gallery_curosel h4{
    font-weight: 700;
  }
  .image_gallery_curosel p{
    width: 70%;
  }
  .image_gallery_curosel img{
    height: 180px;
  }
}
@media screen and (max-width: 950px) {
  .landing_content {
    height: 70vh;
  }
  .landing_content_block {
    width: 80%;
  }
  .landing_content_block h2 {
    font-size: 16px;
  }
  .landing_content_block h3 {
    font-size: 20px;
  }

  .landing_content_block p {
    font-size: 12px;
  }
  .landingpage_blogs {
    width: 100vw;
  }
  .blogbox_container {
    display: grid;
    grid-template-columns: auto auto;
  }
  .blogbox_container_blocks {
    margin: 20px;
  }
  .company_certifications {
    width: 80vw;
    margin-top: 50px;
  }
  .company_certifications_images {
    display: grid;
    grid-template-columns: auto auto auto;
  }
  .company_certifications_images img {
    width: 100px;
    margin: 10px;
  }

  .company_certifications_top h4,
  .blogs_top h4
  ,.products_top h4 {
    font-size: 16px;
    color: #29395a;
  }
  .company_certifications_line,
  .blogs_line 
,
.products_line  {
    width: 15%;
    margin: 0px 10px;
    display: none;
  }
  .contact_us_banner {
    height: 28vw;
  }
  .contact_us_banner_block h3 {
    font-weight: 500;
    font-size: 15px;
  }
  .contact_us_banner_block p {
    width: 90%;
    font-size: 13px;
  }
  .contact_us_banner_block button {
    font-size: 14px;
  }
  .blogbox_container {
    width: 75vw;
    justify-content: space-between;
  }
  .blogbox_con_empty {
    width: 36vw;
    margin: 20px 0px;
  }
  .blogbox_image_empty {
    height: 150px;
  }
  .landing_blog_seemore {
    font-size: 13px;
  }
  .blogbox_con {
    width: 33vw;
  }
  .blogbox_image {
    height: 24vw;
  }
  .image_gallery_curosel{
    margin: 0px 7vw;
  }
  .image_gallery_curosel h4{
    font-size: 15px;
    font-weight: 700;
  }
  .image_gallery_curosel p{
    width: 90%;
  }
  .image_gallery_curosel img{
    height: 160px;
  }
}
@media screen and (max-width: 550px) {
  .landing_content {
    height: 40vh;
    width: 100%;
    background-position-y: 50%;
    background-position-x: 30%;
  }
  .landing_content_block {
    width: 80%;
  }
  .landing_content_block h2 {
    font-size: 17px;
  }
  .landing_content_block h3 {
    font-size: 28px;
  }

  .landing_content_block p {
    font-size: 14px;
  }
  .landingpage_blogs {
    width: 100vw;
  }
  .landingpage_blogs button {
    font-size: 13px;
    padding: 10px;
  }
  .blogbox_container {
    display: block;
  }
  .blogbox_container_blocks {
    margin: 10px;
    padding-bottom: 10px;
    margin-bottom: 15px;
  }
  .company_certifications {
    width: 80vw;
    margin-top: 50px;
  }
  .company_certifications_images {
    display: grid;
    grid-template-columns: auto auto auto;
  }
  .company_certifications_images img {
    width: 20vw;
    margin: 10px;
  }

  .company_certifications_top h4,
  .blogs_top h4
  ,.products_top h4 {
    font-size: 15px;
    color: #29395a;
    margin: 0px;
    margin-bottom: -10px;
  }
  .company_certifications_line,
  .blogs_line 
,
.products_line  {
    width: 15%;
    margin: 0px 10px;
    display: none;
  }
  .contact_us_banner {
    height: 25vh;
  }
  .contact_us_banner_block h3 {
    font-weight: 500;
    font-size: 15px;
  }
  .contact_us_banner_block p {
    width: 90%;
    font-size: 13px;
  }
  .contact_us_banner_block button {
    font-size: 13px;
  }
  .blogbox_container {
    width: 80vw;
  }
  .blogbox_con_empty {
    width: 100%;
    margin: 20px 0px;
  }
  .blogbox_image_empty {
    height: 150px;
  }
  .blogbox_con {
    width: 100%;
  }
  .landing_blog_seemore {
    font-size: 14px;
  }
  .blogbox_image {
    height: 45vw;
  }
  .blogbox_heading h3 {
    font-size: 13px;
    margin: 5px 10px;
  }
  .content {
    font-size: 12px;
    margin: 5px 10px;
  }
  .image_gallery{
    padding: 20px 10px;
  }
  .image_gallery_curosel{
    margin: 0px 3vw;
  }
  .image_gallery_curosel p{
    width: 100%;
    font-size: 13px;
  }
  .image_gallery_curosel img{
    height: 100px;
  }
  .landingPage_Products{
    display: grid;
    grid-template-columns: auto auto;
    width: max-content;
    margin: auto;
  }
  .product_blocks{
    position: relative;
  margin: 10px;  
  width: 40vw;
  height: 100px;
  box-shadow: 0px 0px 10px rgb(201, 201, 201);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius:5px;
  overflow: hidden;
  }
  .product_blocks img{
    width: auto;
    height: 100px;
  }
  .product_hover_div{
    width: 100%;
    height: 100px;
    background-color: rgba(36, 36, 36, 0.883);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position:absolute;
    padding: 10px 40px;
    top:250px;
    transition:0.3s all ease-in;
    opacity: 0;
  }
  .product_blocks:hover .product_hover_div{
   top: 0px;
   opacity: 1;
  }
  .product_hover_div h5{
    color: white;
    margin-top: 30%;
  }
  .product_hover_div button{
    width: max-content;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    margin: 10px 0px;
    background-color: #0c6c84;
    color: white;
  }
}
