.video_container{
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
}
.heading_empty{
    height: 40px;
    margin: 10px 0px;
    border-radius: 5px;
    background-image: linear-gradient(
		90deg,
		#f1f1f1 0px,
		rgb(255, 255, 255) 40px,
		#f1f1f1 80px
	);
	background-size: 300%;
	background-position: 100% 0;
	border-radius: inherit;
	animation: shimmer 2s infinite;
}
.video_block_empty{
    width: 420px;
    height: 230px;
    margin: 10px 0px;
    border-radius: 5px;
    background-image: linear-gradient(
		90deg,
		#f1f1f1 0px,
		rgb(255, 255, 255) 40px,
		#f1f1f1 80px
	);
	background-size: 300%;
	background-position: 100% 0;
	border-radius: inherit;
	animation: shimmer 2s infinite;
}
.video_block iframe{
    width: 420px;
    height: 230px;
    margin: 10px 0px;
    border-radius: 5px;
    background-color: #f1f1f1;
}
.video_block iframe:hover{
    box-shadow: 0px 0px 15px grey;
}
.heading{
    font-weight: 700;
    text-align: center;
    margin: 15px 0px;
    color: #29395A;
    font-size: 18px;
    background: -webkit-linear-gradient(0deg, #000000 0%, #1f6a92 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@keyframes shimmer {
	to {
		background-position: -100% 0;
	}
}

@media screen and (max-width:950px){
    .video_container{
        width: 90%;
        overflow-y: hidden;
        grid-template-columns: auto auto;
    }
    .heading_empty{
        height: 20px;
    }
    .video_block_empty{
        width: 40vw;
        height: 23vw;
    }
    .video_block iframe{
        width: 40vw;
        height: 23vw;
    }
    .heading{
        font-weight: 500;
        margin: 10px 0px;
        font-size: 15px;
    }
}

@media screen and (max-width:550px){
    .video_container{
        width: 90%;
        overflow-y: hidden;
        grid-template-columns: auto ;
    }
    .heading_empty{
        height: 40px;
        margin: 10px 0px;
        border-radius: 5px;
        background-image: linear-gradient(
            90deg,
            #f1f1f1 0px,
            rgb(255, 255, 255) 40px,
            #f1f1f1 80px
        );
        background-size: 300%;
        background-position: 100% 0;
        border-radius: inherit;
        animation: shimmer 2s infinite;
    }
    .video_block_empty{
        width: 420px;
        height: 230px;
        margin: 10px 0px;
        border-radius: 5px;
        background-image: linear-gradient(
            90deg,
            #f1f1f1 0px,
            rgb(255, 255, 255) 40px,
            #f1f1f1 80px
        );
        background-size: 300%;
        background-position: 100% 0;
        border-radius: inherit;
        animation: shimmer 2s infinite;
    }
    .video_block iframe{
        width: 80vw;
        height: 40vw;
    }
    .heading{
        font-size: 14px;
    }
}